{% extends 'layouts/layout.html' %} {% block content %}

<div class="" data-color="blue">
	<div class="container">
		<hr/>
		<div class="section section-features">
			<div class="content">
				<h5class="header-text text-center">Recent Events</h4>
				<div class="row">
					 {% for advert in adverts %}
					<div class="col-md-6">
						<div class="card card-blue">
							<div style="width:80% ;height:75%" >
								<div class="container col-md-6">
									<img src="{{im_path}}/{{advert.photo}}" class="img-rounded" style="width:100% ;height:100%" alt="image">
								</div>
							</div>
							<div class="text">
								<h6>{{ advert.name }}</h4>
								<h6>{{ advert.price}}</h5>
								<h6>{{ advert.location }}</h3>
								<h6>{{ advert.date }}</h3>

								<blockquote>
									 {{ advert.time }}
								</blockquote>
								<blockquote>
									{{advert.description}}
								</blockquote>
							</div>
							<div>
								<a class="btn btn-primary btn-block" href="{{ url_for('pay_advert', id=advert.id ,price=advert.price) }}">Pay</a>
							</div>
						</div>
					</div>
{% endfor %}
					
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}